<div class="container">
  <h2>MYOB Sales playbook</h2>
</div>

<main>
  <div class="container">
    <p><strong>Select your team:</strong></p>
    <div class="row">
      <div class="col-3">
        <button data-team="sme-sales" class="btn-team">SME Sales</button>
      </div>

      <div class="col-3">
        <button data-team="sme-support" class="btn-team">SME Support</button>
      </div>

      <div class="col-3">
        <button data-team="partners" class="btn-team">Partners</button>
      </div>

      <div class="col-3">
        <button data-team="transactional-services" class="btn-team">Transactional Services</button>
      </div>
    </div>
  </div>
</main>

<hr>

<div class="container">
  <div class="page-controls">
    <%= link_to 'NEXT >', call_types_and_campaigns_path %>
  </div>
</div>
