<main>
  <div class="container">
    <p><strong>Select your team:</strong></p>
    <div class="row">
      <% @teams.each do |team| %>
        <div class="col-3">
          <button data-id="<%= team.id %>" data-team="<%= team.key %>" class="btn-toggle btn-team"><%= team.name %></button>
        </div>
      <% end %>
    </div>
  </div>
</main>

<%= render partial: "footer", locals: { prev_page_link: nil, next_page_link: call_types_and_campaigns_path } %>
