<main>
  <div class="container">
    <p class="page-title">Select your team:</p>

    <div class="row" data-container="team">
      <% @teams.each do |team| %>
        <div class="col-3">
          <button data-team="<%= team.name %>" class="card btn-toggle btn-team"><%= team.name %></button>
        </div>
      <% end %>
    </div>
  </div>
</main>

<%= render partial: "footer", locals: { prev_page_link: nil, next_page_link: call_types_and_campaigns_path } %>
