@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);
/* line 1, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/vendor/simple-grid.min.css */
body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

/* line 1, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/vendor/simple-grid.min.css */
.center, .container {
  margin-left: auto;
  margin-right: auto;
}

/* line 1, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/vendor/simple-grid.min.css */
* {
  font-family: Lato,Helvetica,sans-serif;
  color: #333447;
  line-height: 1.5;
}

/* line 1, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/vendor/simple-grid.min.css */
h1 {
  font-size: 2.5rem;
}

/* line 1, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/vendor/simple-grid.min.css */
h2 {
  font-size: 2rem;
}

/* line 1, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/vendor/simple-grid.min.css */
h3 {
  font-size: 1.375rem;
}

/* line 1, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/vendor/simple-grid.min.css */
h4 {
  font-size: 1.125rem;
}

/* line 1, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/vendor/simple-grid.min.css */
h5 {
  font-size: 1rem;
}

/* line 1, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/vendor/simple-grid.min.css */
h6 {
  font-size: .875rem;
}

/* line 1, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/vendor/simple-grid.min.css */
p {
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.8;
}

/* line 1, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/vendor/simple-grid.min.css */
.font-light {
  font-weight: 300;
}

/* line 1, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/vendor/simple-grid.min.css */
.font-regular {
  font-weight: 400;
}

/* line 1, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/vendor/simple-grid.min.css */
.font-heavy {
  font-weight: 700;
}

/* line 1, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/vendor/simple-grid.min.css */
.left {
  text-align: left;
}

/* line 1, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/vendor/simple-grid.min.css */
.right {
  text-align: right;
}

/* line 1, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/vendor/simple-grid.min.css */
.center {
  text-align: center;
}

/* line 1, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/vendor/simple-grid.min.css */
.justify {
  text-align: justify;
}

/* line 1, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/vendor/simple-grid.min.css */
.container {
  width: 90%;
}

/* line 1, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/vendor/simple-grid.min.css */
.row {
  position: relative;
  width: 100%;
}

/* line 1, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/vendor/simple-grid.min.css */
.row [class^=col] {
  float: left;
  margin: .5rem 2%;
  min-height: .125rem;
}

/* line 1, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/vendor/simple-grid.min.css */
.col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9 {
  width: 96%;
}

/* line 1, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/vendor/simple-grid.min.css */
.col-1-sm {
  width: 4.33%;
}

/* line 1, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/vendor/simple-grid.min.css */
.col-2-sm {
  width: 12.66%;
}

/* line 1, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/vendor/simple-grid.min.css */
.col-3-sm {
  width: 21%;
}

/* line 1, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/vendor/simple-grid.min.css */
.col-4-sm {
  width: 29.33%;
}

/* line 1, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/vendor/simple-grid.min.css */
.col-5-sm {
  width: 37.66%;
}

/* line 1, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/vendor/simple-grid.min.css */
.col-6-sm {
  width: 46%;
}

/* line 1, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/vendor/simple-grid.min.css */
.col-7-sm {
  width: 54.33%;
}

/* line 1, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/vendor/simple-grid.min.css */
.col-8-sm {
  width: 62.66%;
}

/* line 1, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/vendor/simple-grid.min.css */
.col-9-sm {
  width: 71%;
}

/* line 1, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/vendor/simple-grid.min.css */
.col-10-sm {
  width: 79.33%;
}

/* line 1, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/vendor/simple-grid.min.css */
.col-11-sm {
  width: 87.66%;
}

/* line 1, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/vendor/simple-grid.min.css */
.col-12-sm {
  width: 96%;
}

/* line 1, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/vendor/simple-grid.min.css */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* line 1, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/vendor/simple-grid.min.css */
.hidden-sm {
  display: none;
}

@media only screen and (min-width: 33.75em) {
  /* line 1, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/vendor/simple-grid.min.css */
  .container {
    width: 80%;
  }
}
@media only screen and (min-width: 45em) {
  /* line 1, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/vendor/simple-grid.min.css */
  .col-1 {
    width: 4.33%;
  }

  /* line 1, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/vendor/simple-grid.min.css */
  .col-2 {
    width: 12.66%;
  }

  /* line 1, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/vendor/simple-grid.min.css */
  .col-3 {
    width: 21%;
  }

  /* line 1, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/vendor/simple-grid.min.css */
  .col-4 {
    width: 29.33%;
  }

  /* line 1, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/vendor/simple-grid.min.css */
  .col-5 {
    width: 37.66%;
  }

  /* line 1, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/vendor/simple-grid.min.css */
  .col-6 {
    width: 46%;
  }

  /* line 1, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/vendor/simple-grid.min.css */
  .col-7 {
    width: 54.33%;
  }

  /* line 1, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/vendor/simple-grid.min.css */
  .col-8 {
    width: 62.66%;
  }

  /* line 1, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/vendor/simple-grid.min.css */
  .col-9 {
    width: 71%;
  }

  /* line 1, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/vendor/simple-grid.min.css */
  .col-10 {
    width: 79.33%;
  }

  /* line 1, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/vendor/simple-grid.min.css */
  .col-11 {
    width: 87.66%;
  }

  /* line 1, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/vendor/simple-grid.min.css */
  .col-12 {
    width: 96%;
  }

  /* line 1, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/vendor/simple-grid.min.css */
  .hidden-sm {
    display: block;
  }
}
@media only screen and (min-width: 60em) {
  /* line 1, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/vendor/simple-grid.min.css */
  .container {
    width: 75%;
    max-width: 60rem;
  }
}
/* line 1, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/layout.css */
.page-controls {
  float: right;
}

/* line 1, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/teams.css */
.btn-toggle.active {
  border: 1px solid blue;
}

/* line 1, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/wysiwyg.css */
.fr-toolbar {
  border-top-color: #ec0677;
}
