/* line 1, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/simple-grid.min.css */
.container {
  margin-left: auto;
  margin-right: auto;
}

/* line 6, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/simple-grid.min.css */
.container {
  width: 90%;
}

/* line 10, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/simple-grid.min.css */
.row {
  position: relative;
  width: 100%;
}

/* line 15, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/simple-grid.min.css */
.row [class^=col] {
  float: left;
  margin: .5rem 2%;
  min-height: .125rem;
}

/* line 21, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/simple-grid.min.css */
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10
.col-11,
.col-12 {
  width: 96%;
}

/* line 36, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/simple-grid.min.css */
.row::after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (min-width: 33.75em) {
  /* line 43, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/simple-grid.min.css */
  .container {
    width: 80%;
  }
}
@media only screen and (min-width: 45em) {
  /* line 49, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/simple-grid.min.css */
  .col-1 {
    width: 4.33%;
  }

  /* line 52, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/simple-grid.min.css */
  .col-2 {
    width: 12.66%;
  }

  /* line 55, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/simple-grid.min.css */
  .col-3 {
    width: 21%;
  }

  /* line 58, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/simple-grid.min.css */
  .col-4 {
    width: 29.33%;
  }

  /* line 61, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/simple-grid.min.css */
  .col-5 {
    width: 37.66%;
  }

  /* line 64, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/simple-grid.min.css */
  .col-6 {
    width: 46%;
  }

  /* line 67, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/simple-grid.min.css */
  .col-7 {
    width: 54.33%;
  }

  /* line 70, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/simple-grid.min.css */
  .col-8 {
    width: 62.66%;
  }

  /* line 73, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/simple-grid.min.css */
  .col-9 {
    width: 71%;
  }

  /* line 76, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/simple-grid.min.css */
  .col-10 {
    width: 79.33%;
  }

  /* line 79, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/simple-grid.min.css */
  .col-11 {
    width: 87.66%;
  }

  /* line 82, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/simple-grid.min.css */
  .col-12 {
    width: 96%;
  }
}
@media only screen and (min-width: 60em) {
  /* line 88, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/simple-grid.min.css */
  .container {
    width: 75%;
    max-width: 60rem;
  }
}
/** Trumbowyg v2.5.1 - A lightweight WYSIWYG editor - alex-d.github.io/Trumbowyg - License MIT - Author : Alexandre Demode (Alex-D) / alex-d.fr */
/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
#trumbowyg-icons, #trumbowyg-icons svg {
  height: 0;
  width: 0;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
#trumbowyg-icons {
  overflow: hidden;
  visibility: hidden;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-box *, .trumbowyg-box ::after, .trumbowyg-box ::before {
  box-sizing: border-box;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-box svg {
  width: 17px;
  height: 100%;
  fill: #222;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-box, .trumbowyg-editor {
  display: block;
  position: relative;
  border: 1px solid #DDD;
  width: 100%;
  min-height: 300px;
  margin: 17px auto;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-box .trumbowyg-editor {
  margin: 0 auto;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-box.trumbowyg-fullscreen {
  background: #FEFEFE;
  border: none !important;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-editor, .trumbowyg-textarea {
  position: relative;
  box-sizing: border-box;
  padding: 20px;
  min-height: 300px;
  width: 100%;
  border-style: none;
  resize: none;
  outline: 0;
  overflow: auto;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-box-blur .trumbowyg-editor *, .trumbowyg-box-blur .trumbowyg-editor::before {
  color: transparent !important;
  text-shadow: 0 0 7px #333;
}

@media screen and (min-width: 0 \0) {
  /* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
  .trumbowyg-box-blur .trumbowyg-editor *, .trumbowyg-box-blur .trumbowyg-editor::before {
    color: rgba(200, 200, 200, 0.6) !important;
  }
}
@supports (-ms-accelerator: true) {
  /* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
  .trumbowyg-box-blur .trumbowyg-editor *, .trumbowyg-box-blur .trumbowyg-editor::before {
    color: rgba(200, 200, 200, 0.6) !important;
  }
}
/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-box-blur .trumbowyg-editor hr, .trumbowyg-box-blur .trumbowyg-editor img {
  opacity: .2;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-textarea {
  position: relative;
  display: block;
  overflow: auto;
  border: none;
  white-space: normal;
  font-size: 14px;
  font-family: Inconsolata,Consolas,Courier,"Courier New",sans-serif;
  line-height: 18px;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-box.trumbowyg-editor-visible .trumbowyg-textarea {
  height: 1px !important;
  width: 25%;
  min-height: 0 !important;
  padding: 0 !important;
  background: 0 0;
  opacity: 0 !important;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-box.trumbowyg-editor-hidden .trumbowyg-textarea {
  display: block;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-box.trumbowyg-editor-hidden .trumbowyg-editor {
  display: none;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-box.trumbowyg-disabled .trumbowyg-textarea {
  opacity: .8;
  background: 0 0;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-editor[contenteditable=true]:empty:not(:focus)::before {
  content: attr(placeholder);
  color: #999;
  pointer-events: none;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-button-pane {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  width: 100%;
  min-height: 36px;
  background: #ecf0f1;
  border-bottom: 1px solid #d7e0e2;
  margin: 0;
  padding: 0 5px;
  list-style-type: none;
  line-height: 10px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-button-pane::after {
  content: " ";
  display: block;
  position: absolute;
  top: 36px;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background: #d7e0e2;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-button-pane .trumbowyg-button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-button-pane .trumbowyg-button-group .trumbowyg-fullscreen-button svg {
  color: transparent;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-button-pane .trumbowyg-button-group:not(:empty) + .trumbowyg-button-group::before {
  content: " ";
  display: block;
  width: 1px;
  background: #d7e0e2;
  margin: 0 5px;
  height: 35px;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-button-pane button {
  display: block;
  position: relative;
  width: 35px;
  height: 35px;
  padding: 1px 6px !important;
  margin-bottom: 1px;
  overflow: hidden;
  border: none;
  cursor: pointer;
  background: 0 0;
  -webkit-transition: background-color 150ms,opacity 150ms;
  transition: background-color 150ms,opacity 150ms;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-button-pane button.trumbowyg-textual-button {
  width: auto;
  line-height: 35px;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-button-pane.trumbowyg-disable button:not(.trumbowyg-not-disable):not(.trumbowyg-active), .trumbowyg-disabled .trumbowyg-button-pane button:not(.trumbowyg-not-disable):not(.trumbowyg-viewHTML-button) {
  opacity: .2;
  cursor: default;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-button-pane.trumbowyg-disable .trumbowyg-button-group::before, .trumbowyg-disabled .trumbowyg-button-pane .trumbowyg-button-group::before {
  background: #e3e9eb;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-button-pane button.trumbowyg-active, .trumbowyg-button-pane button:not(.trumbowyg-disable):focus, .trumbowyg-button-pane button:not(.trumbowyg-disable):hover {
  background-color: #FFF;
  outline: 0;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-button-pane .trumbowyg-open-dropdown::after {
  display: block;
  content: " ";
  position: absolute;
  top: 25px;
  right: 3px;
  height: 0;
  width: 0;
  border: 3px solid transparent;
  border-top-color: #555;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-button-pane .trumbowyg-open-dropdown.trumbowyg-textual-button {
  padding-left: 10px !important;
  padding-right: 18px !important;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-button-pane .trumbowyg-open-dropdown.trumbowyg-textual-button::after {
  top: 17px;
  right: 7px;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-button-pane .trumbowyg-right {
  margin-left: auto;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-button-pane .trumbowyg-right::before {
  display: none !important;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-dropdown {
  width: 200px;
  border: 1px solid #ecf0f1;
  padding: 5px 0;
  border-top: none;
  background: #FFF;
  margin-left: -1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 3px;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-dropdown button {
  display: block;
  width: 100%;
  height: 35px;
  line-height: 35px;
  text-decoration: none;
  background: #FFF;
  padding: 0 10px;
  color: #333 !important;
  border: none;
  cursor: pointer;
  text-align: left;
  font-size: 15px;
  -webkit-transition: all 150ms;
  transition: all 150ms;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-dropdown button:focus, .trumbowyg-dropdown button:hover {
  background: #ecf0f1;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-dropdown button svg {
  float: left;
  margin-right: 14px;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-modal {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  max-width: 520px;
  width: 100%;
  height: 350px;
  z-index: 11;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-modal-box {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  max-width: 500px;
  width: calc(100% - 20px);
  padding-bottom: 45px;
  z-index: 1;
  background-color: #FFF;
  text-align: center;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 3px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-modal-box .trumbowyg-modal-title {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 20px;
  padding: 15px 0 13px;
  display: block;
  border-bottom: 1px solid #EEE;
  color: #333;
  background: #fbfcfc;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-modal-box .trumbowyg-progress {
  width: 100%;
  height: 3px;
  position: absolute;
  top: 58px;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-modal-box .trumbowyg-progress .trumbowyg-progress-bar {
  background: #2BC06A;
  height: 100%;
  -webkit-transition: width 150ms linear;
  transition: width 150ms linear;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-modal-box label {
  display: block;
  position: relative;
  margin: 15px 12px;
  height: 29px;
  line-height: 29px;
  overflow: hidden;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-modal-box label .trumbowyg-input-infos {
  display: block;
  text-align: left;
  height: 25px;
  line-height: 25px;
  -webkit-transition: all 150ms;
  transition: all 150ms;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-modal-box label .trumbowyg-input-infos span {
  display: block;
  color: #69878f;
  background-color: #fbfcfc;
  border: 1px solid #DEDEDE;
  padding: 0 7px;
  width: 150px;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-modal-box label .trumbowyg-input-infos span.trumbowyg-msg-error {
  color: #e74c3c;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-modal-box label.trumbowyg-input-error input, .trumbowyg-modal-box label.trumbowyg-input-error textarea {
  border: 1px solid #e74c3c;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-modal-box label.trumbowyg-input-error .trumbowyg-input-infos {
  margin-top: -27px;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-modal-box label input {
  position: absolute;
  top: 0;
  right: 0;
  height: 27px;
  line-height: 27px;
  border: 1px solid #DEDEDE;
  background: #fff;
  font-size: 14px;
  max-width: 330px;
  width: 70%;
  padding: 0 7px;
  -webkit-transition: all 150ms;
  transition: all 150ms;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-modal-box label input:focus, .trumbowyg-modal-box label input:hover {
  outline: 0;
  border: 1px solid #95a5a6;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-modal-box label input:focus {
  background: #fbfcfc;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-modal-box .error {
  margin-top: 25px;
  display: block;
  color: red;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-modal-box .trumbowyg-modal-button {
  position: absolute;
  bottom: 10px;
  right: 0;
  text-decoration: none;
  color: #FFF;
  display: block;
  width: 100px;
  height: 35px;
  line-height: 33px;
  margin: 0 10px;
  background-color: #333;
  border: none;
  cursor: pointer;
  font-family: "Trebuchet MS",Helvetica,Verdana,sans-serif;
  font-size: 16px;
  -webkit-transition: all 150ms;
  transition: all 150ms;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-submit {
  right: 110px;
  background: #2bc06a;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-submit:focus, .trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-submit:hover {
  background: #40d47e;
  outline: 0;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-submit:active {
  background: #25a25a;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-reset {
  color: #555;
  background: #e6e6e6;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-reset:focus, .trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-reset:hover {
  background: #fbfbfb;
  outline: 0;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-reset:active {
  background: #d5d5d5;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-overlay {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  left: 0;
  display: none;
  z-index: 10;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
body.trumbowyg-body-fullscreen {
  overflow: hidden;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 99999;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-fullscreen .trumbowyg-editor, .trumbowyg-fullscreen.trumbowyg-box {
  border: none;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-fullscreen .trumbowyg-editor, .trumbowyg-fullscreen .trumbowyg-textarea {
  height: calc(100% - 37px) !important;
  overflow: auto;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-fullscreen .trumbowyg-overlay {
  height: 100% !important;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-fullscreen .trumbowyg-button-group .trumbowyg-fullscreen-button svg {
  color: #222;
  fill: transparent;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-editor embed, .trumbowyg-editor img, .trumbowyg-editor object, .trumbowyg-editor video {
  max-width: 100%;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-editor img, .trumbowyg-editor video {
  height: auto;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-editor img {
  cursor: move;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-editor.trumbowyg-reset-css {
  background: #FEFEFE !important;
  font-family: "Trebuchet MS", Helvetica, Verdana, sans-serif !important;
  font-size: 14px !important;
  line-height: 1.45em !important;
  white-space: normal !important;
  color: #333;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-editor.trumbowyg-reset-css a {
  color: #15c !important;
  text-decoration: underline !important;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-editor.trumbowyg-reset-css blockquote, .trumbowyg-editor.trumbowyg-reset-css div, .trumbowyg-editor.trumbowyg-reset-css ol, .trumbowyg-editor.trumbowyg-reset-css p, .trumbowyg-editor.trumbowyg-reset-css ul {
  box-shadow: none !important;
  background: 0 0 !important;
  margin: 0 0 15px !important;
  line-height: 1.4em !important;
  font-family: "Trebuchet MS", Helvetica, Verdana, sans-serif !important;
  font-size: 14px !important;
  border: none;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-editor.trumbowyg-reset-css hr, .trumbowyg-editor.trumbowyg-reset-css iframe, .trumbowyg-editor.trumbowyg-reset-css object {
  margin-bottom: 15px !important;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-editor.trumbowyg-reset-css blockquote {
  margin-left: 32px !important;
  font-style: italic !important;
  color: #555;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-editor.trumbowyg-reset-css ol, .trumbowyg-editor.trumbowyg-reset-css ul {
  padding-left: 20px !important;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-editor.trumbowyg-reset-css ol ol, .trumbowyg-editor.trumbowyg-reset-css ol ul, .trumbowyg-editor.trumbowyg-reset-css ul ol, .trumbowyg-editor.trumbowyg-reset-css ul ul {
  border: none;
  margin: 2px !important;
  padding: 0 0 0 24px !important;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-editor.trumbowyg-reset-css hr {
  display: block;
  height: 1px;
  border: none;
  border-top: 1px solid #CCC;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-editor.trumbowyg-reset-css h1, .trumbowyg-editor.trumbowyg-reset-css h2, .trumbowyg-editor.trumbowyg-reset-css h3, .trumbowyg-editor.trumbowyg-reset-css h4 {
  color: #111;
  background: 0 0;
  margin: 0 !important;
  padding: 0 !important;
  font-weight: 700;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-editor.trumbowyg-reset-css h1 {
  font-size: 32px !important;
  line-height: 38px !important;
  margin-bottom: 20px !important;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-editor.trumbowyg-reset-css h2 {
  font-size: 26px !important;
  line-height: 34px !important;
  margin-bottom: 15px !important;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-editor.trumbowyg-reset-css h3 {
  font-size: 22px !important;
  line-height: 28px !important;
  margin-bottom: 7px !important;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-editor.trumbowyg-reset-css h4 {
  font-size: 16px !important;
  line-height: 22px !important;
  margin-bottom: 7px !important;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-dark .trumbowyg-textarea {
  background: #111;
  color: #ddd;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-dark .trumbowyg-box {
  border: 1px solid #343434;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-dark .trumbowyg-box.trumbowyg-fullscreen {
  background: #111;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-dark .trumbowyg-box.trumbowyg-box-blur .trumbowyg-editor *, .trumbowyg-dark .trumbowyg-box.trumbowyg-box-blur .trumbowyg-editor::before {
  text-shadow: 0 0 7px #ccc;
}

@media screen and (min-width: 0 \0) {
  /* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
  .trumbowyg-dark .trumbowyg-box.trumbowyg-box-blur .trumbowyg-editor *, .trumbowyg-dark .trumbowyg-box.trumbowyg-box-blur .trumbowyg-editor::before {
    color: rgba(20, 20, 20, 0.6) !important;
  }
}
@supports (-ms-accelerator: true) {
  /* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
  .trumbowyg-dark .trumbowyg-box.trumbowyg-box-blur .trumbowyg-editor *, .trumbowyg-dark .trumbowyg-box.trumbowyg-box-blur .trumbowyg-editor::before {
    color: rgba(20, 20, 20, 0.6) !important;
  }
}
/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-dark .trumbowyg-box svg {
  fill: #ecf0f1;
  color: #ecf0f1;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-dark .trumbowyg-button-pane {
  background-color: #222;
  border-bottom-color: #343434;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-dark .trumbowyg-button-pane::after {
  background: #343434;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-dark .trumbowyg-button-pane .trumbowyg-button-group:not(:empty)::before {
  background-color: #343434;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-dark .trumbowyg-button-pane .trumbowyg-button-group:not(:empty) .trumbowyg-fullscreen-button svg {
  color: transparent;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-dark .trumbowyg-button-pane.trumbowyg-disable .trumbowyg-button-group::before {
  background-color: #2a2a2a;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-dark .trumbowyg-button-pane button.trumbowyg-active, .trumbowyg-dark .trumbowyg-button-pane button:not(.trumbowyg-disable):focus, .trumbowyg-dark .trumbowyg-button-pane button:not(.trumbowyg-disable):hover {
  background-color: #333;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-dark .trumbowyg-button-pane .trumbowyg-open-dropdown::after {
  border-top-color: #fff;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-dark .trumbowyg-fullscreen .trumbowyg-button-group .trumbowyg-fullscreen-button svg {
  color: #ecf0f1;
  fill: transparent;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-dark .trumbowyg-dropdown {
  border-color: #222;
  background: #333;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 3px;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-dark .trumbowyg-dropdown button {
  background: #333;
  color: #fff !important;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-dark .trumbowyg-dropdown button:focus, .trumbowyg-dark .trumbowyg-dropdown button:hover {
  background: #222;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-dark .trumbowyg-modal-box {
  background-color: #222;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-dark .trumbowyg-modal-box .trumbowyg-modal-title {
  border-bottom: 1px solid #555;
  color: #fff;
  background: #3c3c3c;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-dark .trumbowyg-modal-box label {
  display: block;
  position: relative;
  margin: 15px 12px;
  height: 27px;
  line-height: 27px;
  overflow: hidden;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-dark .trumbowyg-modal-box label .trumbowyg-input-infos span {
  color: #eee;
  background-color: #2f2f2f;
  border-color: #222;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-dark .trumbowyg-modal-box label .trumbowyg-input-infos span.trumbowyg-msg-error {
  color: #e74c3c;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-dark .trumbowyg-modal-box label.trumbowyg-input-error input, .trumbowyg-dark .trumbowyg-modal-box label.trumbowyg-input-error textarea {
  border-color: #e74c3c;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-dark .trumbowyg-modal-box label input {
  border-color: #222;
  color: #eee;
  background: #333;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-dark .trumbowyg-modal-box label input:focus, .trumbowyg-dark .trumbowyg-modal-box label input:hover {
  border-color: #626262;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-dark .trumbowyg-modal-box label input:focus {
  background-color: #2f2f2f;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-dark .trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-submit {
  background: #1b7943;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-dark .trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-submit:focus, .trumbowyg-dark .trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-submit:hover {
  background: #25a25a;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-dark .trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-submit:active {
  background: #176437;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-dark .trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-reset {
  background: #333;
  color: #ccc;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-dark .trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-reset:focus, .trumbowyg-dark .trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-reset:hover {
  background: #444;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-dark .trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-reset:active {
  background: #111;
}

/* line 2, /Users/parlux/Projects/pd/myob-sales-playbook/vendor/assets/stylesheets/trumbowyg.min.css */
.trumbowyg-dark .trumbowyg-overlay {
  background-color: rgba(15, 15, 15, 0.6);
}

/* line 1, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/common/layout.css */
body {
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #f3f4f5;
}

/* line 8, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/common/layout.css */
.page-controls {
  float: right;
}

/* line 1, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/common/buttons.css */
.btn {
  background-color: #00aa65;
  border: 2px solid #00aa65;
  color: #fff;
  border-radius: 4px;
  padding: 4px 24px;
  cursor: pointer;
  font-size: 11px;
  text-decoration: none;
  text-align: center;
}

/* line 13, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/common/buttons.css */
.btn + .btn {
  margin-left: 10px;
}

/* line 17, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/common/buttons.css */
a[disabled="disabled"] {
  color: #cccccc;
}

/* line 21, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/common/buttons.css */
.btn-toggle.active {
  border: 1px solid blue;
}

/* line 1, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/components/header.css */
.header {
  background-color: #fff;
}

/* line 5, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/components/header.css */
.header .btn {
  float: right;
  margin-top: 13px;
}

/* line 10, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/components/header.css */
.header .header__title {
  font-size: 13px;
  display: flex;
  align-items: center;
}

/* line 16, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/components/header.css */
.header .header__link {
  text-decoration: none;
  display: inline-block;
}

/* line 21, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/components/header.css */
.header .header__logout {
  float: right;
  text-decoration: none;
  margin-top: 18px;
  margin-left: 10px;
}

/* line 28, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/components/header.css */
.header .header__logo {
  padding: 10px 0;
  height: 32px;
  margin-right: 15px;
}

/* line 34, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/components/header.css */
.header .header__gradient {
  background-color: #b93499;
  background: -webkit-gradient(linear, left top, right top, from(#6100a5), color-stop(#8241aa), color-stop(#b93499), to(#ec0677));
  background: -webkit-linear-gradient(left, #6100a5, #8241aa, #b93499, #ec0677);
  background: linear-gradient(to right, #6100a5, #8241aa, #b93499, #ec0677);
  height: 2px;
}

/* line 1, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/components/flash.css */
.flash {
  padding: 15px 0;
  margin-top: 10px;
}

/* line 6, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/components/flash.css */
.flash.flash--notice {
  background-color: #b3e5fc;
}

/* line 10, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/components/flash.css */
.flash.flash--alert {
  background-color: #ffcdd2;
}

/* line 1, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/components/wysiwyg.css */
.trumbowyg-editor,
.trumbowyg-box {
  min-height: 100px;
}

/* line 6, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/components/wysiwyg.css */
.trumbowyg-editor {
  background-color: #fff;
}

/* line 1, /Users/parlux/Projects/pd/myob-sales-playbook/app/assets/stylesheets/components/login-box.css */
.login-box {
  background: #fff;
  padding: 15px;
  margin-top: 20px;
}
