<main>
  <div class="container">
    <p><strong>Ask your client what tasks they do and select 3 key topics to focus your conversations on:</strong></p>
    <div class="row">
      <% @topics.each do |topic| %>
        <div class="col-3">
          <button data-id="<%= topic.id %>" data-topic="<%= topic.key %>" class="btn-toggle btn-topic"><%= topic.name %></button>
        </div>
      <% end %>
    </div>
  </div>
</main>

<%= render partial: "footer", locals: { prev_page_link: industries_path, next_page_link: topics_path } %>
