<main>
  <div class="container">
    <p class="page-instruction">Ask your client what tasks they do and select <strong>3</strong> key topics to focus your conversation on:</p>

    <div class="row" data-container="client-task">
      <div class="col-xs-9">
        <% @client_tasks.each do |client_task| %>
        <div class="col-xs-4">
          <button data-client-task="<%= client_task.name %>" class="card card--wide btn-toggle btn-client-task"><%= client_task.name %></button>
        </div>
        <% end %>
      </div>

      <div class="col-xs-3 sidebar">
        <div class="client-info">
          <p class="client-info__title">Client information</p>
          <hr>
          <div data-client-info></div>
        </div>
      </div>
    </div>
  </div>
</main>

<%= render partial: "footer", locals: { prev_page_link: industries_path, next_page_link: client_tasks_path } %>
