<main>
  <div class="container">
    <p><strong>What does your client do?</strong></p>
    <div class="row" data-container="client-task">
      <% @client_tasks.each do |client_task| %>
        <div class="col-3">
          <button data-id="<%= client_task.id %>" data-client-task="<%= client_task.key %>" class="btn-toggle btn-client-task"><%= client_task.name %></button>
        </div>
      <% end %>
    </div>
  </div>
</main>

<%= render partial: "footer", locals: { prev_page_link: nil, next_page_link: client_tasks_path } %>
