<main>
  <div class="container">
    <p class="page-instruction">Focus on the task and find a need that MYOB can help them with:</p>

    <div class="row">
      <div class="col-xs-9">
        <div class="row">
          <% @client_tasks.each do |client_task| %>
          <div class="col-xs-4">
            <%= render partial: 'shared/editable_textarea', locals: { key: 'data-client-tasks', key2: 'questions', resource: client_task, data: client_task.questions }%>
          </div>
          <% end %>
        </div>

        <div class="row">
          <% @client_tasks.each do |client_task| %>
          <div class="col-xs-4">
            <%= render partial: 'shared/editable_textarea', locals: { key: 'data-client-tasks', key2: 'info', resource: client_task, data: client_task.info }%>
          </div>
          <% end %>
        </div>
      </div>

      <div class="col-xs-3 sidebar">
        <%= render 'shared/client_info' %>
      </div>
    </div>
  </div>
</main>

<%= render partial: "footer", locals: { prev_page_link: client_tasks_path, next_page_link: client_tasks_path } %>
