<main>
  <div class="container">
    <p class="page-instruction">What does your client do?</p>

    <div class="row" data-container="client-type">
      <div class="col-xs-9">
        <div class="row">
          <% @client_types.each do |client_type| %>
          <div class="col-xs-4">
            <button data-client-type="<%= client_type.name %>" class="card card--wide btn-toggle btn-client-type"><%= client_type.name %></button>
          </div>
          <% end %>
        </div>
      </div>

      <div class="col-xs-3 sidebar">
        <%= render 'shared/client_info' %>
      </div>
    </div>
  </div>
</main>

<%= render partial: "footer", locals: { prev_page_link: call_types_and_campaigns_path, next_page_link: client_tasks_path } %>
