<main>
  <div class="container">
    <p class="page-title">What does your client do?</p>

    <div class="row" data-container="client-type">
      <% @client_types.each do |client_type| %>
        <div class="col-4">
          <button data-client-type="<%= client_type.key %>" class="card btn-toggle btn-client-type"><%= client_type.name %></button>
        </div>
      <% end %>
    </div>
  </div>
</main>

<%= render partial: "footer", locals: { prev_page_link: nil, next_page_link: client_tasks_path } %>
