<main>
  <div class="container">
    <p><strong>What does your client do?</strong></p>
    <div class="row" data-container="client-type">
      <% @client_types.each do |client_type| %>
        <div class="col-4">
          <button data-client-type="<%= client_type.key %>" class="btn-toggle btn-client-type"><%= client_type.name %></button>
        </div>
      <% end %>
    </div>
  </div>
</main>

<%= render partial: "footer", locals: { prev_page_link: call_types_and_campaigns_path, next_page_link: client_tasks_path } %>
