.card {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 32px 0;
  color: #8648ac;
  box-shadow: 0 0 1px rgba(0,0,0,.1);
  width:100%;
  font-size: 14px;
}

.card ol {
  margin: 0;
  padding-left: 10px;
}

.card .card__body {
  color: #687480;
  margin-top: 15px;
  margin-left: 24px
}

.card .card__title {
  margin-left: 24px;
  font-weight: bold;
}

.card.card--wide {
  cursor: pointer;
  width: 100%;
  padding-left: 28px 0;
}

.card[disabled] {
  background: #eee;
}

.card.active {
  border-color: #8648ac;
}
