.card {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 12px;
  color: #8648ac;
  box-shadow: 0 0 1px rgba(0,0,0,.1);
}

.card ol {
  margin: 0;
  padding-left: 10px;
}

.card .card__body {
  color: #000;
  margin-top: 15px;
}

.card .card--wide {
  cursor: pointer;
  width: 100%;
  padding-left: 28px 0;
}

.card[disabled] {
  background: #eee;
}

.card.active {
  border-color: #8648ac;
}
