.client-info ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.client-info .client-info__title {
  font-size: 13px;
  font-weight: bold;
}

.client-info .client-info__list-title {
  color: #8648ac;
  font-weight: bold;
}

.client-info__list-title + .client-info__list-title {
  margin-top: 16px;
}

.client-info .client-info__item {
  color: #777;
}

.client-info hr {
  border: none;
  border-bottom: 1px solid #ccc;
  margin: 8px 0;
}
