.flash {
  padding: 15px 0;
  margin-top: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
}

.flash.flash--notice {
  background-color: #b3e5fc;
}

.flash.flash--alert {
  background-color: #ffcdd2;
}
