.btn {
  background-color: #00aa65;
  border: 2px solid #00aa65;
  color: #fff;
  border-radius: 4px;
  padding: 4px 24px;
  cursor: pointer;
  font-size: 11px;
  text-decoration: none;
  text-align: center;
}

.btn + .btn {
  margin-left: 10px;
}

a[disabled="disabled"] {
  color: #cccccc;
}
