html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  max-width: 960px;
  margin: 0 auto;
  background-color: #f3f4f5;
}

main {
  padding: 34px 0;
}

.page-title {
  font-size: 20px;
  margin-bottom: 34px;
  text-align: center;
}

.page-instruction {
  margin-bottom: 22px;
}

.sidebar {
  margin-top: 1rem !important;
}

.footer {
  min-height: 50px;
}
