html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  max-width: 960px;
  margin: 0 auto;
  background-color: #f3f4f5;
}

main {
  padding: 40px 0;
}

.page-controls {
  float: right;
}
