<div class="container">
  <button style="float: right;" onClick="localStorage.clear();window.location = '/';">Start again</button>
  <%= link_to root_path do %>
    <h2>MYOB Sales playbook</h2></a>
  <% end %>
</div>
