<div class="row">
  <div class="col-4">
    <div class="product product--accountright">
      <div class="product__recommend">BEST CHOICE FOR MOST BUSINESSES</div>

      <div class="product__head">
        <div class="product__name">ACCOUNTRIGHT STANDARD</div>

        <div class="product__price">
          <sup class="product__dollar">$</sup>61<sub class="product__permonth">/month</sub>
        </div>

        <div class="product__description">For businesses that need to manage inventory</div>
      </div>

      <div class="product__body">
        <ul>
          <li>Calculate &amp; track GST</li>
          <li>Manage bills, quotes, invoices &amp; expenses</li>
          <li>Create purchase &amp; manage suppliers</li>
          <li>Track jobs &amp; manage inventory</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="product product--accountright product--recommended">
      <div class="product__recommend">BEST CHOICE FOR MOST BUSINESSES</div>

      <div class="product__head">
        <div class="product__name">ACCOUNTRIGHT PLUS</div>

        <div class="product__price">
          <sup class="product__dollar">$</sup>92<sub class="product__permonth">/month</sub>
        </div>

        <div class="product__description">For businesses that need to manage inventory and payroll</div>
      </div>

      <div class="product__body">
        <ul>
          <li>Calculate &amp; track GST</li>
          <li>Manage bills, quotes, invoices &amp; expenses</li>
          <li>Create purchase &amp; manage suppliers</li>
          <li>Track jobs &amp; manage inventory</li>
          <li>Bill by time</li>
          <li>Pay employees, pay super &amp; track leave</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="product product--accountright">
      <div class="product__recommend">BEST CHOICE FOR MOST BUSINESSES</div>

      <div class="product__head">
        <div class="product__name">ACCOUNTRIGHT PREMIER</div>

        <div class="product__price">
          <sup class="product__dollar">$</sup>121<sub class="product__permonth">/month</sub>
        </div>

        <div class="product__description">For businesses that manage multiple company accounts</div>
      </div>

      <div class="product__body">
        <ul>
          <li>Calculate &amp; track GST</li>
          <li>Manage bills, quotes, invoices &amp; expenses</li>
          <li>Create purchase &amp; manage suppliers</li>
          <li>Track jobs &amp; manage inventory</li>
          <li>Bill by time</li>
          <li>Pay employees, pay super &amp; track leave</li>
          <li>Manage 2 company accounts</li>
        </ul>
      </div>
    </div>
  </div>
</div>
