<div class="row">
  <div class="col-xs-4">
    <div class="product product--accountedge">
      <div class="product__recommend">BEST CHOICE FOR MOST BUSINESSES</div>

      <div class="product__head">
        <div class="product__name">ACCOUNTEDGE BASIC</div>

        <div class="product__price">
          <sup class="product__dollar">$</sup>549
        </div>

        <div class="product__description">Mac software to manage your basic accounting needs</div>
      </div>

      <div class="product__body">
        <ul>
          <li>Issue quotes and invoices</li>
          <li>Instant GST &amp; BAS reports</li>
          <li>Simplify GST calculations</li>
          <li>Track payments</li>
          <li>Full general ledger</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-xs-4">
    <div class="product product--accountedge product--recommended">
      <div class="product__recommend">BEST CHOICE FOR MOST BUSINESSES</div>

      <div class="product__head">
        <div class="product__name">ACCOUNTEDGE PRO</div>

        <div class="product__price">
          <sup class="product__dollar">$</sup>1,699
        </div>

        <div class="product__description">Accounting, inventory and payroll on a Mac</div>
      </div>

      <div class="product__body">
        <ul>
          <li>Issue quotes and invoices</li>
          <li>Instant PAYG, GST &amp; BAS reports</li>
          <li>Simplify GST calculations</li>
          <li>Track payments</li>
          <li>Full general ledger</li>
          <li>Job costing and tracking</li>
          <li>Run business on the go</li>
          <li>Powerful stock management</li>
          <li>No hassles in calculating commissions</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-xs-4">
    <div class="product product--accountedge">
      <div class="product__recommend">BEST CHOICE FOR MOST BUSINESSES</div>

      <div class="product__head">
        <div class="product__name">ACCOUNTEDGE NETWORK</div>

        <div class="product__price">
          <sup class="product__dollar">$</sup>3,599
        </div>

        <div class="product__description">Multi-user accounting, inventory &amp; payroll on a Mac</div>
      </div>

      <div class="product__body">
        <ul>
          <li>Issue quotes and invoices</li>
          <li>Instant GST &amp; BAS reports</li>
          <li>Simplify GST calculations</li>
          <li>Track payments</li>
          <li>Full general ledger</li>
          <li>Job costing and tracking</li>
          <li>Run business on the go</li>
          <li>Powerful stock management</li>
          <li>No hassles in calculating commissions</li>
          <li>Multi-currency support</li>
          <li>Multi-user support</li>
        </ul>
      </div>
    </div>
  </div>
</div>
