<div class="row">
  <div class="col-4">
    <div class="product product--essentials">
      <div class="product__recommend">BEST CHOICE FOR MOST BUSINESSES</div>

      <div class="product__head">
        <div class="product__name">STARTER</div>

        <div class="product__price">
          <sup class="product__dollar">$</sup>25<sub class="product__permonth">/month</sub>
        </div>

        <div class="product__description">Perfect for those just starting up</div>
      </div>

      <div class="product__body">
        <ul>
          <li>Great for people new to accounting</li>
          <li>Keep on top of GST &amp; BAS</li>
          <li>Works on both MAC &amp; PC</li>
          <li>Always up-to-date, and securely backed up online</li>
          <li>Payroll for one</li>
          <li>MYOB BankFeeds* (25 transactions p/m)</li>
          <li>Create five invoices p/m</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="product product--essentials product--recommended">
      <div class="product__recommend">BEST CHOICE FOR MOST BUSINESSES</div>

      <div class="product__head">
        <div class="product__name">PAYROLL FOR ONE</div>

        <div class="product__price">
          <sup class="product__dollar">$</sup>40<sub class="product__permonth">/month</sub>
        </div>

        <div class="product__description">Great for small businesses and sole traders</div>
      </div>

      <div class="product__body">
        <ul>
          <li>Great for people new to accounting</li>
          <li>Keep on top of GST &amp; BAS</li>
          <li>Works on both MAC &amp; PC</li>
          <li>Always up-to-date, and securely backed up online</li>
          <li>Payroll for one</li>
          <li>MYOB BankFeeds*</li>
          <li>Unlimited invoices</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="product product--essentials">
      <div class="product__recommend">BEST CHOICE FOR MOST BUSINESSES</div>

      <div class="product__head">
        <div class="product__name">UNLIMITED PAYROLL</div>

        <div class="product__price">
          <sup class="product__dollar">$</sup>50<sub class="product__permonth">/month</sub>
        </div>

        <div class="product__description">For those taking care of business, and payroll</div>
      </div>

      <div class="product__body">
        <ul>
          <li>Great for people new to accounting</li>
          <li>Keep on top of GST &amp; BAS</li>
          <li>Works on both MAC &amp; PC</li>
          <li>Always up-to-date, and securely backed up online</li>
          <li>Unlimited Payroll</li>
          <li>MYOB BankFeeds*</li>
          <li>Unlimited invoices</li>
        </ul>
      </div>
    </div>
  </div>
</div>
